Checks: [-*,
         bugprone-*,
         performance-avoid-endl,
         performance-enum-size,
         performance-faster-string-find,
         performance-for-range-copy,
         performance-inefficient-vector-operation,
         performance-move-const-argument,
         performance-unnecessary-copy-initialization,
         performance-inefficient-string-concatenation,

         # Skipping these temporarily because they are very noisy
         -bugprone-narrowing-conversions,
         -bugprone-unchecked-optional-access,

         # The following cause either lots of pointless or advisory warnings
         -bugprone-easily-swappable-parameters,
         -bugprone-nondeterministic-pointer-iteration-order,

         # bifcl generates a lot of code with double underscores in their name.
         # ZAM uses a few identifiers that start with underscores or have
         # double-underscores in the name.
         -bugprone-reserved-identifier,

         # bifcl generates almost every switch statement without a default case
         # and so this one generates a lot of warnings.
         -bugprone-switch-missing-default-case,

         # These report warnings that are rather difficult to fix.
         -bugprone-undefined-memory-manipulation,
         -bugprone-pointer-arithmetic-on-polymorphic-object,
         -bugprone-empty-catch,
         -bugprone-exception-escape
]
