Checks: [-*,
         bugprone-assignment-in-if-condition,
         bugprone-branch-clone,
         bugprone-implicit-widening-of-multiplication-result,
         bugprone-incorrect-division,
         bugprone-incorrect-roundings,
         bugprone-macro-parentheses,
         bugprone-multi-level-implicit-pointer-conversion,
         bugprone-inc-dec-in-conditions,
         bugprone-misplaced-widening-cast,
         bugprone-parent-virtual-call,
         bugprone-string-literal-with-embedded-nul,
]
