[submodule "aux/bro-aux"]
	path = aux/bro-aux
	url = ../bro-aux
[submodule "aux/binpac"]
	path = aux/binpac
	url = ../binpac
[submodule "aux/broccoli"]
	path = aux/broccoli
	url = ../broccoli
[submodule "aux/broctl"]
	path = aux/broctl
	url = ../broctl
[submodule "aux/btest"]
	path = aux/btest
	url = ../btest
[submodule "cmake"]
	path = cmake
	url = ../cmake
[submodule "magic"]
	path = magic
	url = ../bromagic
[submodule "src/3rdparty"]
	path = src/3rdparty
	url = ../bro-3rdparty
