[submodule "auxil/zeek-aux"]
	path = auxil/zeek-aux
	url = https://github.com/zeek/zeek-aux
[submodule "auxil/binpac"]
	path = auxil/binpac
	url = https://github.com/zeek/binpac
[submodule "auxil/zeekctl"]
	path = auxil/zeekctl
	url = https://github.com/zeek/zeekctl
[submodule "auxil/btest"]
	path = auxil/btest
	url = https://github.com/zeek/btest
[submodule "cmake"]
	path = cmake
	url = https://github.com/zeek/cmake
[submodule "src/3rdparty"]
	path = src/3rdparty
	url = https://github.com/zeek/zeek-3rdparty
[submodule "auxil/broker"]
	path = auxil/broker
	url = https://github.com/zeek/broker
[submodule "auxil/netcontrol-connectors"]
	path = auxil/netcontrol-connectors
	url = https://github.com/zeek/zeek-netcontrol
[submodule "auxil/bifcl"]
	path = auxil/bifcl
	url = https://github.com/zeek/bifcl
[submodule "doc"]
	path = doc
	url = https://github.com/zeek/zeek-docs
[submodule "auxil/paraglob"]
	path = auxil/paraglob
	url = https://github.com/zeek/paraglob
[submodule "auxil/rapidjson"]
	path = auxil/rapidjson
	url = https://github.com/zeek/rapidjson
[submodule "auxil/libkqueue"]
	path = auxil/libkqueue
	url = https://github.com/zeek/libkqueue
[submodule "auxil/highwayhash"]
	path = auxil/highwayhash
	url = https://github.com/google/highwayhash
[submodule "auxil/zeek-archiver"]
	path = auxil/zeek-archiver
	url = https://github.com/zeek/zeek-archiver
[submodule "auxil/package-manager"]
	path = auxil/package-manager
	url = https://github.com/zeek/package-manager
[submodule "auxil/zeek-client"]
	path = auxil/zeek-client
	url = https://github.com/zeek/zeek-client
[submodule "auxil/gen-zam"]
	path = auxil/gen-zam
	url = https://github.com/zeek/gen-zam
[submodule "auxil/c-ares"]
	path = auxil/c-ares
	url = https://github.com/c-ares/c-ares
[submodule "auxil/out_ptr"]
	path = auxil/out_ptr
	url = https://github.com/soasis/out_ptr.git
[submodule "auxil/spicy"]
	path = auxil/spicy
	url = https://github.com/zeek/spicy
[submodule "auxil/filesystem"]
	path = auxil/filesystem
	url = https://github.com/gulrak/filesystem.git
[submodule "auxil/zeek-af_packet-plugin"]
	path = auxil/zeek-af_packet-plugin
	url = https://github.com/zeek/zeek-af_packet-plugin.git
[submodule "auxil/libunistd"]
	path = auxil/libunistd
	url = https://github.com/zeek/libunistd
[submodule "auxil/zeekjs"]
	path = auxil/zeekjs
	url = https://github.com/corelight/zeekjs.git
[submodule "auxil/vcpkg"]
	path = auxil/vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "auxil/prometheus-cpp"]
	path = auxil/prometheus-cpp
	url = https://github.com/jupp0r/prometheus-cpp
