# Ignore anything prefixed with build since people
# tend to name all of their build directories prefixed that way.
build*
!ci/windows/build.cmd

# Don't ignore things in the docs directory
!doc/**

tmp
*.gcov

# Configuration and build directories for CLion
.idea
cmake-build-*

# skip DS Store for MacOS
.DS_Store

# ignore pyenv local settings
.python-version

# clangd
.cache

# Visual Studio
.vs/
.vscode/
out/
CMakeSettings.json

# Emacs temporary files
*~

# Vim temporary files
*.swp
*.swo

src/include