a:hover
{
    text-decoration:none;
    color:#c24444;
}

div.body h1, div.body h2, div.body h3, div.body h4, div.body h5, div.body h6
{
background-color:#ffffff;
border-bottom: 1px solid #aaa;
}

th.field-name
{
white-space:nowrap;
}
